@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@media (min-width: 992px) {
  .container {
    max-width: 960px;
    font-size: 1.2em;
  }
}
body {
  font-family: "Noto Serif";
}
h2 {
  text-align: center;
  background: #374c4a;
  color: white;
  padding: 2rem 0;
  font-size: 2em;
  font-weight: bold;
}
.betacode {
  display: flex;
  justify-content: center;

  div {
    width: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;

    &:nth-of-type(even) {
      background: #5a7b5e;
      color: white;

      :last-child {
        background: #fdedd8;
        color: black;
      }
    }

    &:nth-of-type(odd) {
      background: #374c4a;
      color: white;

      :last-child {
        background: #cfc59f;
        color: black;
      }
    }
  }
}
.custom-dropdown {
  font-size: 1.2em;
}
.control {
  display: flex;
  gap: 0.5rem;
  align-items: stretch;
  margin: 1rem 0 2rem 0;
  font-size: 1.2em;
}
#input {
  flex-grow: 1;
}
button {
  white-space: nowrap;
}
#content {
  .definition {
    font-weight: bolder;
    color: #374c4a;
    font-size: 110%;
  }
  .sense {
    font-style: italic;
    color: #5a7b5e;
    font-weight: 600;
  }
  .title {
    font-style: italic;
  }
  .biblio {
    color: #777;
  }
  .indent-1 {
    padding-left: 1rem;
  }
  .indent-2 {
    padding-left: 2rem;
  }
  .indent-3 {
    padding-left: 3rem;
  }
  .indent-4 {
    padding-left: 4rem;
  }
  .loading {
    margin: 20vh 0;
    text-align: center;

    i {
      display: block;
      color: #5a7b5e;
      margin-bottom: 2rem;
    }
  }
}
.license {
  font-size: 0.8rem;

  a {
    color: #555;
  }
}
